{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<div class="row" style="padding: 5px;">
			<div class="col-sm-6">
				<a href="/artists/{{ artist.id }}">
					
					<div class="item">
						<h5><i class="fas fa-users"></i>  {{ artist.name }}</h5>
					</div>
				</a>
			</div>
			<div class="col-sm-6">
		<button class="btn btn-edit btn-md" onclick="location.href='/artists/{{ artist.id }}/edit'">Edit Artist</button>
			</div>
		</div>
		
	</li>
	{% endfor %}
</ul>
{% endblock %}